﻿@{
    ViewData["Title"] = "Home Page";
}

<div id="app">
    @*<span v-if="seen">Now you see me</span>*@
    <li v-for="item in items" :key="item.message">
        {{ item.message }}
    </li>
</div>

@section scripts {
<script src="@Url.Content("~/bundle/home.js")">

    </script>

}
